html{
	width: 100%;
	height: 100%;
}

body{
	background: #ededed;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}


header{
	background-image: url(../images/header.jpg);
	padding: 0;
	margin: 0;
	width: 100%;
	height: 15%;
	position: relative;
}
a.home{
	position: absolute;
	display: inline;
	left: 2%;
	top: 15%;
	padding: 4px;
	border: 1px solid gray;
	border-radius: 8px;
	letter-spacing: 5px;
	font-size: 1.1em;
	font-weight: 550;
	color: black;
}

h1{
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 50%;
	top: 50%;
	display: inline-block;
	transform: translateX(-50%) translateY(-50%);
	
	
	/*transform: translateX(-50%) translateY(-50%);*/
}


#editor{
    position: absolute;
    top: 20%;
    right: 0%;
    bottom: 0;
    left: 20%;
    width: 80%;
    height: 80%;
}

div.form-head{
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
	position: relative;
	left: 20%;
}

div.form-text{
	padding: 3px;
	display: inline-block;
	border: 1px solid;
	border-radius: 5px;
}

button{
	padding: 3px;
	border-radius: 5px;
}

input#name{
	padding: 3px;
	border-radius: 5px;
}

div#editor{
	border: 1px solid;
	border-radius: 5px;
}