<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width,initial-scal=1">
		<title>test Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='homepage.css')}}">
	</head>

	<body>
		<header class="main-header">
			<h1 id="title">THIS IS TEST PAGE</h1>
			<a href="/" class="home">首页</a>			
		</header>
		<nav class="main-nav">
			<ul class="nav-list">
				<li class="nav-li"><a href="/code-editor">代码编辑器</a></li>
				<li class="nav-li"><a href="/md-editor/edit">Blog 编辑</a></li>
				<li class="nav-li"><a href="">待定</a></li>
				<li class="nav-li"><a href="">待定</a></li>
				<li class="nav-li"><a href="">待定</a></li>
				<li class="nav-li"><a href="">待定</a></li>				
			</ul>			
		</nav>
		<section>
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="article-one">
							<div class="article-head">
								<div><h1 class="article-title">博客语法完整示例</h1></div>
								<div class="article-info">
									<span>作者：Stan</span>
									<time>2017-12-17</time>
								</div>
							</div>
							<div class="article-content">
								<p>支持“标准”Markdown / CommonMark和Github风格的语法，也可变身为代码编辑器；支持实时预览、图片（跨域）上传、预格式文本/代码 表格插入、代码折叠、搜索替换、只读模式、自定义样式主题和多语言语法高亮等功能</p>
							</div>
							<div>
								<a class="article-watch" href="/md-editor/show">阅读全文</a>
							</div>						
						</article>
						<article class="article-one">
							<div class="article-head">
								<div><h1 class="article-title">博客语法完整示例</h1></div>
								<div class="article-info">
									<span>作者：Stan</span>
									<time>2017-12-17</time>
								</div>
							</div>
							<div class="article-content">
								<p>支持“标准”Markdown / CommonMark和Github风格的语法，也可变身为代码编辑器；支持实时预览、图片（跨域）上传、预格式文本/代码 表格插入、代码折叠、搜索替换、只读模式、自定义样式主题和多语言语法高亮等功能</p>
							</div>
							<div>
								<a class="article-watch" href="">阅读全文</a>
							</div>						
						</article>
						<article class="article-one">
							<div class="article-head">
								<div><h1 class="article-title">博客语法完整示例</h1></div>
								<div class="article-info">
									<span>作者：Stan</span>
									<time>2017-12-17</time>
								</div>
							</div>
							<div class="article-content">
								<p>支持“标准”Markdown / CommonMark和Github风格的语法，也可变身为代码编辑器；支持实时预览、图片（跨域）上传、预格式文本/代码 表格插入、代码折叠、搜索替换、只读模式、自定义样式主题和多语言语法高亮等功能</p>
							</div>
							<div>
								<a class="article-watch" href="">阅读全文</a>
							</div>						
						</article>

						<nav class="page-tail">
							<div class="last-nav"><span class="page">第1页 / 共1页</span></div>
							<a href="" class="last-nav"><span id="logo" class="glyphicon glyphicon-chevron-right"></span></a>
						</nav>
					</main>
					<aside class="col-md-4">
						<div class="aside-content">
							<h4>User</h4>
							<div>未登录</div>
							<h4>Login in</h4>
						</div>

						<div class="aside-content">
							<h4>Function</h4>
							<div><a href="">代码编辑器</a></div>
							<div><a href="">写博客</a></div>
							<div><a href="">地图接口</a></div>
						</div>

						<div class="aside-content">
							<h4>文章列表</h4>
							<div><a href="">用法介绍</a></div>
							<div><a href="">用法介绍</a></div>
							<div><a href="">用法介绍</a></div>
						</div>
					</aside>
				</div>
			</div>
		</section>
		<footer>
			<p>Design By Stan</p>
		</footer>
	</body>
</html>