<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home_page.css')}}">
		
		<title>前端测试</title>
	</head>

	<body>
		<header>
			<h1>THIS IS TEST PAGE</h1>
			<a href="/" class="home">首页</a>
		</header>

		<nav>
			<ul>
				<li><a href="code-editor">代码编辑器</a></li>
				<li><a href="md-editor/edit">Markdown编辑器</a></li>
				<li><a href="md-editor/show">Markdown展示</a></li>
				<li><a href="">待定</a></li>
				<li><a href="">待定</a></li>
				<li class="last"><a href="">待定</a></li>				
			</ul>
		</nav>

		<section class="main-content">
			<article>
				
			</article>

			<aside>
				
			</aside>
		</section>

		<footer>
			
		</footer>

	</body>
</html>