<!DOCTYPE html>
<html lang="zh">
	<head>
        <meta charset="utf-8" />
        <title>Simple example - Editor.md examples</title>
        <style>
            #test-editormd li{
                list-style:disc;
            }
        </style>
        <link rel="stylesheet" href="{{url_for('static',filename='md_editor/editormd.min.css')}}" />
    </head>

    <body>
        <div id="test-editormd">
	        <textarea style="display:none;"></textarea>
	        <textarea class="editormd-html-textarea" name="text"></textarea>
	    </div>

	    <script src="{{url_for('static',filename='md_editor/jquery.min.js')}}"></script>
		<script src="{{url_for('static',filename='md_editor/stan_editor_test.js')}}"></script>
        <script src="{{url_for('static',filename='md_editor/marked.min.js')}}/"></script>
        <script src="{{url_for('static',filename='md_editor/prettify.min.js')}}"></script>
        <script src="{{url_for('static',filename='md_editor/raphael.min.js')}}"></script>
        <script src="{{url_for('static',filename='md_editor/underscore.min.js')}}"></script>
        <script src="{{url_for('static',filename='md_editor/sequence-diagram.min.js')}}"></script>
        <script src="{{url_for('static',filename='md_editor/flowchart.min.js')}}"></script>
        <script src="{{url_for('static',filename='md_editor/jquery.flowchart.min.js')}}"></script>
        <script src="{{url_for('static',filename='md_editor/editormd.js')}}"></script>
        <div id="content" class="contenttext">
            <textarea style="display:none;" name="editormd-markdown-doc" id="content"></textarea>

        </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                editormd.markdownToHTML("content", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                    tocm : true,//菜单
                    tocContainer : "",
                    tocDropdown   : false
                });

            })
        </script>

	</body>

</html>