<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ACE in Action</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='editor_test.css')}}">
        
    </head>

    <body>
        <form id="form1" method="post">
            input filename
            <input name="name" id="name">
            <textarea name="content" id="content" hidden></textarea>
            <button id="submit">Submit</button>

        </form>

        <aside>
            <select id="mode">
                <option value="ace/mode/javascript">JavaScript</option>
                <option value="ace/mode/c_cpp">C and C++</option>
                <option value="ace/mode/css">CSS</option>
                <option value="ace/mode/glsl">Glsl</option>
                <option value="ace/mode/html">HTML</option>
                <option value="ace/mode/java">Java</option>
                <option value="ace/mode/json">JSON</option>
                <option value="ace/mode/latex">LaTeX</option>
                <option value="ace/mode/markdown">Markdown</option>
                <option value="ace/mode/matlab">MATLAB</option>
                <option value="ace/mode/mysql">MySQL</option>
                <option value="ace/mode/python">Python</option>
                <option value="ace/mode/swift">Swift</option>
                <option value="ace/mode/text">Text</option>
            </select>


            <select id="theme"> 
                <optgroup label="Bright">
                    <option value="ace/theme/chrome">Chrome</option>
                    <option value="ace/theme/clouds">Clouds</option>
                    <option value="ace/theme/crimson_editor">Crimson Editor</option>
                    <option value="ace/theme/dawn">Dawn</option>
                    <option value="ace/theme/dreamweaver">Dreamweaver</option>
                    <option value="ace/theme/eclipse">Eclipse</option>
                    <option value="ace/theme/github">GitHub</option>
                    <option value="ace/theme/iplastic">IPlastic</option>
                    <option value="ace/theme/solarized_light">Solarized Light</option>
                    <option value="ace/theme/textmate">TextMate</option>
                    <option value="ace/theme/tomorrow">Tomorrow</option>
                    <option value="ace/theme/xcode">XCode</option>
                    <option value="ace/theme/kuroir">Kuroir</option>
                    <option value="ace/theme/katzenmilch">KatzenMilch</option>
                    <option value="ace/theme/sqlserver">SQL Server</option>
                </optgroup>

                <optgroup label="Dark">
                    <option value="ace/theme/ambiance">Ambiance</option>
                    <option value="ace/theme/chaos">Chaos</option>
                    <option value="ace/theme/clouds_midnight">Clouds Midnight</option>
                    <option value="ace/theme/cobalt">Cobalt</option>
                    <option value="ace/theme/gruvbox">Gruvbox</option>
                    <option value="ace/theme/gob">Green on Black</option>
                    <option value="ace/theme/idle_fingers">idle Fingers</option>
                    <option value="ace/theme/kr_theme">krTheme</option>
                    <option value="ace/theme/merbivore">Merbivore</option>
                    <option value="ace/theme/merbivore_soft">Merbivore Soft</option>
                    <option value="ace/theme/mono_industrial">Mono Industrial</option>
                    <option value="ace/theme/monokai">Monokai</option>
                    <option value="ace/theme/pastel_on_dark">Pastel on dark</option>
                    <option value="ace/theme/solarized_dark">Solarized Dark</option>
                    <option value="ace/theme/terminal">Terminal</option>
                    <option value="ace/theme/tomorrow_night">Tomorrow Night</option>
                    <option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option>
                    <option value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</option>
                    <option value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</option>
                    <option value="ace/theme/twilight">Twilight</option>
                    <option value="ace/theme/vibrant_ink">Vibrant Ink</option>
                </optgroup>
            </select>

        </aside>


        <div id="editor"></div>
        <script src="{{url_for('static',filename='src-min-noconflict/ace.js')}}" type="text/javascript"></script>

        <script type="text/javascript" src="{{url_for('static',filename='editor_test.js')}}"></script>
    </body>
</html>